@import "./color_schemes/dark";
$body-font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-background-color: $grey-dk-400;
$sidebar-color: $grey-dk-390;
$base-button-color: $grey-dk-300;
$table-background-color: $grey-dk-350;
$search-background-color: $grey-dk-350;
$border-color: $grey-dk-250;

$link-color: #0077b3;
